*{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins';
    box-sizing: border-box;
}
body{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins';
}
ul{
    list-style: none;

}
a{
    text-decoration: none;
}

.navigation{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 20px 10%;
    margin: auto;
    position: fixed;
    left:0px;
    top: 0px;
    width:100%;
    z-index:100;
    background-color: #ffffff;
    border: 1px solid rgba(0,0,0,0.3);
    
}
